.aboutme {
  margin-top: 24px;

  .title {
    text-align: center;
  }
  .divider {
    margin: 24px;
  }
  .info,
  .desc {
    margin: 24px;
    padding: 12px;
  }
  .keyValInfo {
    margin-bottom: 12px;
  }
}
