.aboutme {
}

.aboutme .title {
  text-align: center;
}

.aboutme .divider {
  margin: 24px;
}

.aboutme .info {
  margin: 24px;
  padding: 12px;
}

.aboutme .keyValInfo {
  margin-bottom: 12px;
}

.aboutme .desc {
  padding: 12px;
  margin: 24px;
}
