.interest {
  margin-top: 24px;

  .title {
    text-align: center;
  }

  .divider {
    margin: 24px;
  }

  .qwiklab {
    margin: 24px auto;
    width: 250px;
  }

  .books-desc,
  .qwiklab-desc {
    margin: 24px;
    padding: 12px 24px 12px;
  }

  .cycle,
  .books {
    margin: 24px auto;
    width: 350px;
  }

  .cycle-img {
    height: 330px;
  }
}
