.skills {
  .title {
    text-align: center;
  }
  .divider {
    margin: 24px;
  }
  .skillTitle {
    margin: 12px 24px;
  }
  .skillDetail {
    margin: 24px;
  }
  .rating {
    float: right;
  }
}
